# Deploy static HTML app to Azure Web App
name: Deploy EletroMob

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ELetroMob'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_26B46705C4B349CBA1A0CE66F2CBFAA0 }}
          package: .
